/**
 * Any CSS here will be applied to all HTML markup rendered by Docusaurus.
 */

/* For a minimal base, you might want to remove this CSS or replace it with your own. */

/* Docusaurus defaults to a serif font for headings and a sans-serif font for body text. */
/* If you want to change the font families, add them here. */
:root {
  --ifm-font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --ifm-font-family-monospace: 'Cascadia Code', 'Fira Code', 'SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

/* Add your custom styles here */
